# PostgreSQL Connection from Coolify Database Resource / External DB
# Format: postgresql://<user>:<password>@<coolify-postgres-host>:<port>/<database>?schema=public
DATABASE_URL="postgresql://postgres:password@postgres:5432/internext?schema=public"
PORT=3500
